{% extends "SitePortailBundle:Article:gestionArticle.html.twig" %}

{% block contenu %}


<br><center><font color="#ff0000"><b><h2>Ajouter Votre Article</h2></b></font></center><br><br>
<br>


<form name="f" action="{{path('SitePortailBundle_Ajout_article')}}" method="post" {{ form_enctype(form) }} > 

<div class="error">
{{ form_errors(form) }}
</div>
<table  border="0" align="center" style="margin-left:50px">

<TR>
	<TD width=200px>{{ form_label(form.titre) }}:  </TD><TD id="form1">{{ form_widget(form.titre) }}</TD><td>{{ form_errors(form.titre) }}</td>
</tr>
<TR>
	<TD width=200px>{{ form_label(form.categorie) }}:  </TD><TD id="form1">{{ form_widget(form.categorie) }}</TD><td>{{ form_errors(form.categorie) }}</td>
</tr>

<TR>
	<TD width=200px>{{ form_label(form.contenu) }}: </TD><TD id="form1">{{ form_widget(form.contenu) }}</TD><td>{{ form_errors(form.contenu) }}</td>
</tr>
<TR>
	<TD width=200px>{{ form_label(form.lien) }}:  </TD><TD id="form1">{{ form_widget(form.lien) }}</TD><td>{{ form_errors(form.lien) }}</td>
</tr>
<TR>
	<TD width=200px>{{ form_label(form.media) }}:  </TD><TD id="form1">{{ form_widget(form.media) }}</TD><td>{{ form_errors(form.media) }}</td>
</tr>

{{ form_rest(form) }}
<tr>
	<TD colspan=2 align="center" id="form2"><br><INPUT  type="submit" value="Valider" ></td>
</TR>
</form>


</table>
<br><br><br>


{% endblock %}