{% extends "SitePortailBundle:Annonce:gestionAnnonce.html.twig" %}
{% block contenu %}
<center>
La Liste des Annonces Auto<br><br>
<table class="gestion">
<tr>
<td>type</td><td>{{ anc.type }}</td></tr>

<tr><td>nature</td><td>{{ anc.nature }}</td></tr>
<tr><td>date</td><td>{{ anc.date}}</td></tr>
<tr><td>modele</td><td>{{ anc.modele}}</td></tr>
<tr><td>marque</td><td>{{ anc.marque}}</td></tr>

<tr><td>email</td><td>{{ anc.email}}</td></tr>
<tr><td>id admin</td><td>{{ anc.id_admin}}</td></tr>
<tr><td>id membre</td><td>{{ anc.id_mbr}}</td></tr>
<tr><td><img src="asset('anc.photo')"/></td></tr>
<tr><td>{% if(anc.valide=="n") %}<a href="{{ path('SitePortailBundle_valide_annonce', { 'id': anc.id,'categorie':'auto' }) }}">Valider</a>{% endif %}</td></tr>
<tr><td><a href="{{ path('SitePortailBundle_supprime_annonce', { 'id': anc.id ,'categorie':'auto' }) }}">Supprimer</a></td>
</tr>

</table>
</center>
{%endblock%} 