{% extends "SitePortailBundle:Portail:index.html.twig" %}
{% block corp %}
<div id="corp" STYLE="background:#ffffff;" ><br>
<center><b>La Liste des {{type}} Annonces Auto</b></center><br><br>
<table style="padding:10px;border-radius:6px;float:center;align:center;width:100%;" cellspacing="10">
<tr style="padding:10px;background-color:#EBEBFF;">
<th>type</th>

<th>nature</th>
<th>date</th>
<th>modele</th>
<th>marque</th>

<th>email</th>

<th>Afficher</th>
</tr>
{% for anc in annonces %}
<tr>

<td>{{ anc.type }}</td>
<td>{{ anc.nature }}</td>

<td>{{ anc.date}}</td>
<td>{{ anc.modele}}</td>
<td>{{ anc.marque}}</td>

<td>{{ anc.email}}</td>

<td><a href="{{ path('SitePortailBundle_lire_annonce', { 'id': anc.id,'categorie':'anc_auto'}) }}">Affiche</a></td>

</tr>
{% else %}
<tr>
<td>Aucun annonces n'a été trouvé.</td>
</tr>
{% endfor %}
</table>
</center>
</div>

{% endblock %}