{% extends "SitePortailBundle:Message:gestion_message.html.twig" %}
{% block contenu %}
<center>

<table class="gestion">
<tr><td>nom : </td><td>{{ message.nom }}</td></tr>

<tr><td>email</td><td>{{ message.email}}</td></tr>
<tr><td> validation :</td><td>{{ message.valid}}</td></tr>
<tr><td>contenu :</td><td>{{ message.contenu}}</td></tr>
<tr><td>date d'envoie :</td><td>{{ message.date}}</td>

</tr>

</table>
</center>
<a href="{{ path('SitePortailBundle_gerer_message_delete', { 'id':message.id_msg }) }}">Supprimer</a>


{% endblock %} 